# Zebra TFLite Model genaration using Logistic Regration algo & Keras API

### Prepare DataFrame
* Prerequsite data.csv file to load data into dataFrame

In [14]:
import pandas as pd

#df = pd.read_csv("DS_DataFrame.csv")
#df = pd.read_csv("FS_DataFrame.csv")
df = pd.read_csv("WS_DataFrame.csv")
df

       maxTSV    maxDTSV     avgTSV  ...  avgMinTSV  avgSpin  result
0   67.944751  26.125252  43.537106  ...   0.000000      0.0       1
1   67.944751  38.494237  37.320358  ...   0.000000      0.0       1
2   67.944751  31.524744  67.944751  ...   0.000000      0.0       1
3   67.944751  24.435606  41.120718  ...   1.948127      0.0       1
4   67.944751  22.326630  67.944751  ...   0.000000      0.0       1
5   67.944751  23.929385  32.855948  ...   5.710532      0.0       1
6   67.944751  34.436203  67.944751  ...   1.888998      0.0       1
7   67.944751  32.363032  39.651168  ...   0.000000      0.0       1
8   67.944751  31.491387  39.567378  ...   0.000000      0.0       1
9   67.944751  44.282835  53.643845  ...   2.149475      0.0       1
10  67.944751  32.190297  67.944751  ...   0.765748      0.0       1

[11 rows x 9 columns]

### Train Model

In [15]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense (1, input_dim = 8, activation = 'sigmoid'))
model.compile(loss = 'binary_crossentropy', optimizer = 'rmsprop', metrics = ['accuracy'] )

x = df.iloc[:,0:-1]
print(x)
y = df.iloc[:,-1]
model.fit(x, y, epochs = 512, verbose = 0)
model.summary()

       maxTSV    maxDTSV     avgTSV  ...    minTSV  avgMinTSV  avgSpin
0   67.944751  26.125252  43.537106  ...  0.000000   0.000000      0.0
1   67.944751  38.494237  37.320358  ...  0.000000   0.000000      0.0
2   67.944751  31.524744  67.944751  ...  0.000000   0.000000      0.0
3   67.944751  24.435606  41.120718  ...  3.896255   1.948127      0.0
4   67.944751  22.326630  67.944751  ...  0.000000   0.000000      0.0
5   67.944751  23.929385  32.855948  ...  5.659449   5.710532      0.0
6   67.944751  34.436203  67.944751  ...  3.777996   1.888998      0.0
7   67.944751  32.363032  39.651168  ...  0.000000   0.000000      0.0
8   67.944751  31.491387  39.567378  ...  0.000000   0.000000      0.0
9   67.944751  44.282835  53.643845  ...  1.151504   2.149475      0.0
10  67.944751  32.190297  67.944751  ...  1.531496   0.765748      0.0

[11 rows x 8 columns]
Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 9
Trainable params: 9
Non-trainable params: 0
_________________________________________________________________

### Predict for a sample input

In [16]:
output = model.predict([[7.944751,	6.125252,	3.537106,	0.080186,	0.466667,	0.000000,	0.000000,	0.0]])
output

array([[0.42656848]], dtype=float32)

### Covert model to .tflite file

In [17]:
import tensorflow as tf
# Convert the model.
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()

# Save the model.
with open('zebra_ws_model.tflite', 'wb') as f:
  f.write(tflite_model)

INFO:tensorflow:Assets written to: /tmp/tmp1ukyvj6x/assets

INFO:tensorflow:Assets written to: /tmp/tmp1ukyvj6x/assets